{{ if and (.IsPage) (eq .Section "articles") }}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "{{.Section | title}}",
    "headline": "{{.Title}}",
    "name": "{{.Title}}",
    "url": "{{.Permalink }}",
    "mainEntityOfPage": "{{.Permalink}}",
    "datePublished": {{.PublishDate.Format "2006-01-02"}},
    "dateModified": {{.Date.Format "2006-01-02"}},
    "wordCount": {{.WordCount}},
    "image": {
        "@type": "ImageObject",
        "url": "{{ .Site.Data.settings.shareimgurl }}{{.Params.image | default .Site.Data.settings.defaultimage }}",
        "height": 533,
        "width": 800
    },
    "author": {
        "@type": "person",
        "name": "{{range .Params.authors}}{{.}}{{end}}"
    },
    "publisher": {
        "@type": "Organization",
        "name": "{{.Site.Data.settings.organizationname}}",
        "logo": {
            "@type": "ImageObject",
            "url": "{{ .Site.Data.settings.shareimgurl }}{{.Site.Data.settings.defaultimage}}"
        }
    }
}
</script>
{{ end }}
