#style-switcher h2 a {
    background: #FF1654 none repeat scroll 0 0
}


.tour-info ul li i, .tour-places .owl-theme .owl-controls .owl-page span, .testimonial-area .owl-theme .owl-controls .owl-page span, .scrollup {
	background: #FF1654;
}

a.slide-btn, .call-to-area-text a, .single-service:hover .service-icon i, .single-contact:hover .contact-icon i, .contact-form input[type="submit"] {
	border: 1px solid #FF1654;
	background: #FF1654;
}

a.slide-btn:hover, .call-to-area-text a, .contact-form input[type="submit"]:hover{
	border: 1px solid #FF1654;
}


.service-icon i, .contact-icon i  {
	color: #FF1654;
	border: 1px solid #FF1654;
}

.footer-menu ul li {
	border-right: 1px solid #FF1654;
}

.footer-menu ul li a:hover {
	color: #FF1654;
}