<!DOCTYPE html>
<html lang="fr">

{{- partial "site-head.html" -}}

<body>
    {{ if getenv "IS_PROD" }}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N5S3FVB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ end }}
    <!-- START PRELOADER AREA-->
    <div class="preloader-area">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
    <!-- END PRELOADER AREA -->

    <!-- START HOMEPAGE DESIGN AREA -->
    <header id="home" class="welcome-area">
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <!-- START LOGO DESIGN AREA -->
                        <div class="logo">
                            <a href="#nothing">
                                <!-- <p>Le groupe Norplan</p> -->
                                <img src="/assets/images/logo/hameau-logo.png" alt="Groupe Norplan logo" style="width: auto;max-height: 80px;">
                            </a>
                        </div>
                        <!-- END LOGO DESIGN AREA -->
                    </div>
                    <div class="col-sm-9">
                        <div class="tour-info">
                            <ul>
                                <li><a href="https://www.facebook.com/lehameauchampetre/" target="_blank" style="color: white"><i class="fa fa-facebook"></i></a></li>
                                <li class="menu-phone"><a href="tel:+14504735042" style="color: white"><i class="fa fa-phone" style="margin-right: 20px;"></i>450.473.5042</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="welcome-image-area">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="header-text text-center">
                                    <h1>{{.Params.slider.titre}}</h1>
                                    <p>{{.Params.slider.stitre}}</p>
                                    <a class="slide-btn smoth-scroll" href="{{.Params.slider.link1}}">{{.Params.slider.btn1}}</a>
                                    <a class="slide-btn smoth-scroll" href="{{.Params.slider.link2}}">{{.Params.slider.btn2}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- / END HOMEPAGE DESIGN AREA -->
    <section class="section-padding" id="plans">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div style="margin-bottom: 30px;">
                        <p>Le Hameau Champêtre, c'est un projet bâti avec une conscience de l'environnement qui l'entoure. On y retrouve un parc, un petit lac, et de la forêt à perte de vue! Le projet saura vous charmer dès votre arrivée! Situé dans un emplacement paisible, mais facilement accessible,  il s'agit de l'endroit idéal pour toute personne rêvant d'avoir son propre petit havre de paix. Que ce soit pour une autoconstruction ou pour une construction effectuée par un contracteur, nos terrains prêts à bâtir et abordables sauront vous convenir à coup sûr. Venez voir notre projet et laissez-vous charmer par l'ambiance paisible du Hameau Champêtre.
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Nos terrains</h2>
                        <div id="terrains">
                            <img src="/assets/images/bg/plan-hameau-champetre-2.png" alt="terrains hameau champetre">
                            {{ range .Params.terrains }}
                            <span id="t{{.number}}" class="numbers">{{.number}}</span>
                            {{ end }}
                            <span id="labelparc">Parc</span>
                            <span id="superficieparc">20 556 mètres carrés</span>
                            <div id="info-div">
                                <div style="position: relative; width: 100%; height: 100%;">
                                    {{ range .Params.terrains}}
                                    <div id="t{{.number}}" class="info">
                                        <p class="number">{{.number}}</p>
                                        {{ range .info}}
                                        <p>{{.}}</p>
                                        {{ end }}
                                        <p>Superficie: {{.superficie}}</p>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        <div id="terrains-mobile">
                            <img src="/assets/images/bg/planfinal.png" alt="Plan" style="margin-bottom: 20px">
                            <p class="title">Chemin de Dunany - Terrains boisés</p>
                            {{ range .Params.terrains}}
                            {{ if eq .groupe 1}}
                            <p>Terrain {{ .number }} - Superficie: {{.superficie}}</p>
                            {{ end }}
                            {{ end }}
                            <p class="title">Chemin MacDougall - Terrains boisés</p>
                            {{ range .Params.terrains}}
                            {{ if eq .groupe 4}}
                            <p>Terrain {{ .number }} - Superficie: {{.superficie}}</p>
                            {{ else if eq .groupe 3}}
                            <p style="margin-bottom: 0">Terrain {{ .number }} - Superficie: {{.superficie}}</p>
                            <p>Avec petite étendue d'eau</p>
                            {{ end }}
                            {{ end }}
                            <p class="title">Rue Champêtre - Terrains boisés</p>
                            {{ range .Params.terrains}}
                            {{ if eq .groupe 2}}
                            <p>Terrain {{ .number }} - Superficie: {{.superficie}}</p>
                            {{ else if eq .groupe 5}}
                            <p style="margin-bottom:0">Terrain {{ .number }} - Superficie: {{.superficie}}</p>
                            <p>Avec petite étendue d'eau</p>
                            {{ end }}
                            {{ end }}
                            <p class="title">Parc</p>
                            <p>Superficie: 20 556 mètres carrés</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- START CALL TO ACTION DESIGN AREA -->
    <section id="download" class="image-bg call-to-area" data-stellar-background-ratio="0.6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-area-text text-center">
                        <h2>Vous êtes intéressé par le projet?</h2>
                        <p>Nous offrons le service de visites et des séances d'information privées!</p>
                        <a class="smoth-scroll cta-btn slide-btn" href="#contact">Appelez-nous</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / END CALL TO ACTION DESIGN AREA -->

    <!-- START TOUR PLACE DESIGN AREA -->
    <section id="place" class="tour-places section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>{{.Params.section2.titre}}</h2>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 0; padding: 0 0 0 10px;">
                <script src="https://fast.wistia.com/embed/medias/nnieaolljx.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_nnieaolljx videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
            </div>
            <div class="tour-list owl-carousel owl-theme">
                <!-- START SINGLE TOUR PLACE DESIGN AREA -->
                {{ range $i, $e := .Params.section2.images}}
                <div class="single-place" style='width: {{ if eq $i 3 }}581px{{ else if eq $i 5 }}566px{{ else if eq $i 7 }}566px{{ else if eq $i 9 }}497px{{ else }}300px{{end}}'>
                    <img src="{{$e}}" alt="">
                    <div class="tour-des">
                        <h2>Hameau Champêtre</h2>
                        <h3>Rive-Nord</h3>
                    </div>
                </div>
                {{ end }}
                <!-- / END SINGLE TOUR PLACE DESIGN AREA -->
            </div>
        </div>
    </section>
    <!-- / END  TOUR PLACE DESIGN AREA -->



    <!-- START CALL TO ACTION DESIGN AREA -->
    <section id="download" class="call-to-area image-bg-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Pourquoi nous?</h2>
                    </div>
                </div>
            </div>
            <div id="faits" class="row call-to-area-text">
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-4 col-sm-6 col-xs-12 service-col wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-service">
                        <div class="service-icon"><i class="icon-superficie" aria-hidden="true"></i>
                        </div>
                        <h4>Superficie des terrains</h4>
                        <p>Terrains de 2900 mètres carrés (30 000 pi/ca) et plus.</p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-4 col-sm-6 col-xs-12 service-col wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-service">
                        <div class="service-icon"><i class="icon-localisation" aria-hidden="true"></i>
                        </div>
                        <h4>Localisation</h4>
                        <p>C'est le meilleur des deux mondes; des terrains en nature avec tous les services à proximité. À seulement 10 minutes du centre-ville de Lachute et 35 minutes de Laval!</p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-4 col-sm-6 col-xs-12 service-col wow fadeInUp" data-wow-delay=".6s">
                    <div class="single-service">
                        <div class="service-icon"><i class="fa fa-tree" aria-hidden="true"></i>
                        </div>
                        <h4>Ambiance</h4>
                        <p>Avec des terrains boisés et privés, le Hameau Champêtre offre une ambiance apaisante.</p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-4 col-sm-6 col-xs-12 service-col wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-service">
                        <div class="service-icon"><i class="icon-vie-quartier" aria-hidden="true"></i>
                        </div>
                        <h4>Vie de quartier</h4>
                        <p>Avec seulement 29 terrains disponibles dans le projet, c'est l'idéal pour une vie de quartier paisible.</p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-4 col-sm-6 col-xs-12 service-col wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-service">
                        <div class="service-icon"><i class="fa fa-tint" aria-hidden="true"></i>
                        </div>
                        <h4>Parc avec étang</h4>
                        <p>Un espace créé pour les résidents dans le but de leur permettre de relaxer et de profiter de la brise fraîche du Hameau Champêtre.</p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-4 col-sm-6 col-xs-12 service-col wow fadeInUp" data-wow-delay=".6s">
                    <div class="single-service">
                        <div class="service-icon"><i class="icon-financement" aria-hidden="true"></i>
                        </div>
                        <h4>Financement</h4>
                        <p>Financement hypothécaire disponible.</p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
            </div>
        </div>
    </section>
    <!-- / END CALL TO ACTION DESIGN AREA -->
    <!-- <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Comment s'y rendre</h2>
                    </div>
                </div>
            </div>
            <div class="row directions-row">
                <div class="col-sm-6 col-md-6 text-center directions-cont">
                    <div class="directions-col">
                        <h4>De Laval ou Montréal</h4>
                        <ul>
                            <li>Prendre la sortie pour Autoroute 15 N en direction de Aéroport Mirabel/Laval</li>
                            <li>Continuer sur Route Transcanadienne/Autoroute 15 N</li>
                            <li>Prendre la sortie 35 pour rejoindre Autoroute 50 O en direction de Lachute (19,4 km)</li>
                            <li>Prendre la sortie 272 vers Saint Eustache/Mirabel/Route Arthur Sauvé(Saint Hermas)</li>
                            <li>Suivre QC-158 O en direction de Ch Dunany à Lachute (18,8 km)</li>
                            <li>Tourner à droite sur QC-148 O (700 m)</li>
                            <li>Tourner à gauche sur QC-158 O (panneaux pour QC-148 O) (10,9 km)</li>
                            <li>Tourner à droite sur Ch Dunany (700 m)</li>
                            <li>Tourner à gauche pour continuer sur Ch Dunany (6,5 km)</li>
                            <li>301 Chemin MacDougall (intersection du Cn.Dunany et MacDougall)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 text-center directions-cont">
                    <div class="directions-col">
                        <h4>De l'Outaouais</h4>
                        <ul>
                            <li>Suivre Autoroute 50 E</li>
                            <li>Prendre la sortie 260 pour QC-329 en direction de Lachute/Mirabel/Saint-Hermas/Centre-Ville</li>
                            <li>Suivre QC-329 N en direction de Ch Dunany (13,6 km)</li>
                            <li>Tourner à droite sur QC-329 N (panneaux pour Mirabel/Saint-Hermas) (1,9 km)</li>
                            <li>Tourner à gauche pour continuer sur QC-329 N  (3,4 km)</li>
                            <li>Tourner à gauche sur QC-148 O/QC-158 O (1,1 km)</li>
                            <li>Tourner à droite sur Ch Dunany (700 m)</li>
                            <li>Tourner à gauche pour continuer sur Ch Dunany (6,5 km)</li>
                            <li>301 Chemin MacDougall (intersection du Cn.Dunany et MacDougall)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- START GOOGLE MAP DESIGN AREA -->
    <div id="map"></div>
    <!-- / END GOOGLE MAP DESIGN AREA -->

    <!-- START CONTACT DESIGN AREA -->
    <section id="contact" class="contact-area section-padding" data-stellar-background-ratio="0.6">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Des questions?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <div class="single-contact wow fadeInUp" data-wow-delay=".2s">
                        <div class="contact-icon">
                            <i class="icon-localisation"></i>
                        </div>
                        <h5>À 35 minutes de Laval</h2>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="single-contact wow fadeInUp" data-wow-delay=".4s">
                        <div class="contact-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <h5><a href="tel:+14504735042" style="color: black">450.473.5042</a></h2>
                    </div>
                </div>
            </div>
            <div class="row contact-form-design-area">
                <div class="col-md-12">
                    <!-- START CONTACT FORM DESIGN AREA -->
                    <div class="contact-form">
                        <form id="contact-form" method="post" action="/" netlify name="contact-form">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <input type="text" name="name" class="form-control" id="first-name" placeholder="Nom*" required="required">
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Courriel*" required="required">
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" name="subject" class="form-control" id="subject" placeholder="Sujet ou # de terrain">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea rows="6" name="message" class="form-control" id="description" placeholder="Votre message*" required="required"></textarea>
                                    <div data-netlify-recaptcha></div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <div class="actions wow fadeInUp" data-wow-delay=".4s">
                                        <input type="submit" value="Envoyer" name="submit" id="submitButton" class="" title="Envoyer">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- / END CONTACT FORM DESIGN AREA -->
                </div>
            </div>
        </div>
    </section>
    <!-- / END CONTACT DESIGN AREA -->
    <!-- START TOUR PLACE DESIGN AREA -->
    <section id="place" class="tour-places section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>{{.Params.dsection.titre}}</h2>
                    </div>
                </div>
            </div>
            <div class="project-list owl-carousel owl-theme" id="project-list">
                <!-- START SINGLE TOUR PLACE DESIGN AREA -->
                {{ range .Params.dsection.images}}
                <a {{if .link }} href="{{ .link }}" target="_blank"{{else}} href="tel:+14504735042" {{end}} style="color: black">
                    <div class="single-place">
                        <img src="{{.lien}}" alt="">
                        <div class="tour-des">
                            <h2>{{ .projet }}</h2>
                            <h3>{{ .description }}</h3>
                        </div>
                    </div>
                </a>
                {{ end }}
                <!-- / END SINGLE TOUR PLACE DESIGN AREA -->
            </div>
        </div>
    </section>
    <!-- / END  TOUR PLACE DESIGN AREA -->

    <!-- START FOOTER DESIGN AREA -->
    <footer class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="footer-text">
                        <div class="footer-menu">
                            <ul>
                                <li><a class="smoth-scroll" href="#plans">Plans</a></li>
                                <li><a class="smoth-scroll" href="#faits">Faits saillants</a></li>
                                <li><a class="smoth-scroll" href="#map">Directions</a></li>
                                <li><a class="smoth-scroll" href="#contact">Contact</a></li>
                                <li><a href="https://www.facebook.com/lehameauchampetre/" target="_blank">Facebook</a></li>
                            </ul>
                        </div>
                        <h6>&copy;copyright | Groupe Norplan. Tous droits réservés.<br>Fait avec <i class="fa fa-heart"></i> par <a href="https://www.akiamarketing.ca/">Akia Marketing</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- / END CONTACT DETAILS DESIGN AREA -->

    <!-- START SCROOL UP DESIGN AREA -->
    <div class="">
        <a href="tel:+14504735042" style="color: white">
            <div class="scrollup scrollup-phone">
                <i class="fa fa-phone"></i>
            </div>
        </a>
    </div>
    <div class="scroll-to-up">
        <div class="scrollup">
            <i class="fa fa-angle-up"></i>
        </div>
    </div>
    <!-- / END SCROOL UP DESIGN AREA -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBG0fQo_1YGq32tayOYux5Y1T-paMXFgII"></script>
    <!-- scripts js -->
    <script src="assets/js/main-dist.min.js"></script>
</body>

</html>